<body>
<!--<hr>

<img src="assets/logo.png" width="25px" height="25px"/>www.myShoppingList.com<br>
all right reserved  <img src="assets/logos/cr.png" width="15px" height="15px"/> AlaaZme Ltd.
<a href="http://www.google.com">Terms of Use</a>
<span class="dday" > 17/11/2016</span>
<br>
<span class="coninfo"> Contact info: <a href ="mailto:alaazme1@live.com " > AlaaZme@live.com </a><span>

-->
<div class="ftr">



  <p>
    www.AlaaZmeSite.com<br>
all right reserved  
  <img class="logo" src="assets/cr.png" width="20" height="20"/>
  &nbsp;&nbsp;
  <a href="http://www.google.com">Terms of Use</a>
  &nbsp;
<span class="dday" > 17/11/2016</span>
<br>

  </p>
  <span class="sociM">
<img class="picMe" src="assets/ficn.png"/>
    <img class="picMe" src="assets/inpng.png" />
      <img class="picMe" src="assets/twicn.png" />
        <img class="picMe" src="assets/vkicn.png" />
</span>
  </div>

</body>