<body>
  <div class="hdr">
About!  </div>

 <img class="picMe" src="assets/me.jpg"/>
<p>
   Welcome Dear Visitor <br>
   Last year student finishing software engineering<br>
   feel free to conact me about <br>
   any matter , assistance , product develpoment <br>
   guidence , Ideas and more 
   Contact me at : <a href ="mailto:alaazme1@live.com " > AlaaZme1@live.com </a> 
   <img class="icn" src="assets/ficn.png"/><br></p>
<div class="const" > **propre communication channel under develpoment**</div>

</body>
