<body id="mobile" ng-mouseover="op()">
  <div class="p">
Mobile Section   </div>
<hr>
<p>
Created an application for a non-profit organaztion called "beshutaf"<br>
to help manage the employes and the shop they are running.
</p>
<hr>
  <img class="picMe" src="assets/dsm1.png"/>
    <img class="picMe" src="assets/dsm2.png" />
      <img class="picMe" src="assets/dsm3.png" />
        <img class="picMe" src="assets/dsm4.png" />
          <img class="picMe" src="assets/dsm5.png"/>
                 <img class="picMe" src="assets/dsm6.png"/>
                         <img class="picMe" src="assets/dsm7.png"/>
                 <img class="picMe" src="assets/dsm8.png"/>
</body>
a