
<div class="stickymain">
 
<h1>
  <img  (click)="edit()" class="micon" src="assets/vvv.png"  >  
 {{title}}
   <img  (click)="aboutCl()" class="aicon" src="assets/about.png"  >
</h1>
<div>
<span *ngIf="edited()">
<app-other></app-other>
</span>
<span *ngIf="about()">
 <app-about></app-about>
</span>
</div>

</div>

<div class="hdr" id="hdr" style="background-image:url('assets/bg2.jpg');">
 <ul class="login" >
     Comin Soon
    <li class="lgnitm"> <input type="text" class="lginp" placeholder="username"/></li> 
   <li class="lgnitm"> <input type="text" class="lginp" placeholder="password"/></li>

    </ul>
<img class="icn" src="assets/cons.png"  ><p><img class="picMe" src="assets/ccc.png"><span class="span"> AlaaZme ltd. </span></p>
<h2>Welcome to my site pick an operation 
 to procced to the desired location.<br>
 All content owned by me (AlaaZme) 
 please avoid copy fragment violation<br>
 for your own safty
  </h2>


<ul class="list">
<li  class="prod" (click)="goTo('#games')" > Games </li>
  <li  class="prod"  (click)="goTo('#main-ftr')" >Featred</li>
  <li  class="prod"  (click)="goTo('#mobile')" >Mobile</li>
     <li class="prod"  (click)="goTo('#java')" >  Java </li>
     <li class="prod"  (click)="goTo('#websites')"   >  webSites </li>
  </ul>


   <img  class="toTop" (click)="goTo('#hdr')"  src="assets/totop.png"  >


   <app-mobile> </app-mobile> 
  <app-main-ftr> </app-main-ftr> 
  <app-games> </app-games> 
<app-java> </app-java> 
<app-websites> </app-websites> 
<app-footer></app-footer>

