<body id="games">
  <div class="p">
Games <br>
Welcome to the Teams Games Section </div>
<hr>
<p> Cards Memory game
 <a routerLink="https://tranquil-depths-79222.herokuapp.com">Link</a><br>
</p>

<hr>
<div class="cards">
  <p>this is a javaScript game created during and for college home Work more will follow<br>
  incudling improvments and new features and mobile accesabilty </p>
  <img class="picMe" src="assets/cardwin.png" style="width:40%; height:25em;"/>
    <img class="picMe" src="assets/cardsp.png" style="width:40%;height:25em"/>
    <hr>
</div>
<hr>
<p>Space Invasion
 <a routerLink="https://tranquil-depths-79222.herokuapp.com">Link</a><br>

 Space Invastion created by me <br>
 third person shooter using C++ and OpenGl Lib.
 
</p>

<hr>

<div class="spcinv"></div>
    <img class="picMes" src="assets/spci.png" style="width:45%;height:65%;"/>
     <img class="picMes" src="assets/spcB.png" style="width:45%;height:65%"/>
       <img class="picMes" src="assets/spci2.png" style="width:45%;height:65%"/>
       
         <img class="picMes" src="assets/spcB2.png" style="width:45%;height:65%"/>
</body>
